In [1]:
# на закуску https://habr.com/ru/post/483820/
# https://habr.com/ru/post/414613/ - сбор идей, которые дадут хороший скор
# файлы объединить в один датасет

#---------------Задача тетрадки---------------------------------
# 2) сделать тетрадку "01 - EDA" (exploratory data analysis) - смысл его в сборе идей, которые дадут хороший скор. 
# б) понять, как эти файлы объединить в один датасет
#------------------------------------------------

# pandas and numpy
import pandas as pd
import numpy as np

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')
#---------------------------------------

from sklearn.model_selection import cross_validate, train_test_split
from sklearn.tree import DecisionTreeRegressor as DTR
##from sklearn.metrics import mean_squared_error as MSE
# from sklearn.linear_model import Lasso, Ridge
# from sklearn.linear_model import LinearRegression as LR
# from sklearn.linear_model import LassoCV
# from sklearn import datasets, metrics, tree 

# https://fooobar.com/questions/45779/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
import dask.dataframe as dd
#df = dd.read_csv('csv/*.csv')

In [18]:
df = pd.read_csv('input/bureau.csv')
df.shape

(1716428, 17)

In [19]:
df.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [22]:
# X = df['Column'].values
df.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [23]:
import os
PATH="input/"
print(os.listdir(PATH))

['application_test.csv', 'application_train.csv', 'bureau.csv', 'bureau_balance.csv', 'credit_card_balance.csv', 'HomeCredit_columns_description.csv', 'installments_payments.csv', 'POS_CASH_balance.csv', 'previous_application.csv', 'sample_submission.csv']

In [1]:
import xgboost as xgb

In [4]:
'''просмотреть каждый датасет, покрутить, посмотреть, что он представляет:
* какие есть колонки, какие колонки являются ключами
'''

'просмотреть каждый датасет, покрутить, посмотреть, что он представляет:\n* какие есть колонки, какие колонки являются ключами\n'

In [7]:
""" https://habr.com/ru/post/414613/
Заслуживают внимания кернелы:

    EDA с подробным описанием для новичков и простые модели
    Глубокий EDA с пакетом Plotly + подгрузка данных бюро
    Хороший EDA с пакетом Seaborn
    Сравнительный анализ проблемных и дефолтных заемщиков
    15-ти строчный LightGBM на трех признаках с итоговым скором 0,714
    Анализ признаков по данным кредитных бюро
    Обработка доп. таблиц + LightGBM


Для работы с данными обычно рекомендуется следующий план, которому мы и постараемся следовать.

    Понимание проблемы и ознакомление с данными
    Чистка данных и форматирование
    EDA
    Базовая модель
    Улучшение модели
    Интерпретация модели


В данном случае нужно взять поправку на то, что данные довольно обширны и сразу их можно и не осилить, 
есть смысл действовать поэтапно.
"""

' https://habr.com/ru/post/414613/\nЗаслуживают внимания кернелы:\n\n    EDA с подробным описанием для новичков и простые модели\n    Глубокий EDA с пакетом Plotly + подгрузка данных бюро\n    Хороший EDA с пакетом Seaborn\n    Сравнительный анализ проблемных и дефолтных заемщиков\n    15-ти строчный LightGBM на трех признаках с итоговым скором 0,714\n    Анализ признаков по данным кредитных бюро\n    Обработка доп. таблиц + LightGBM\n\n\nДля работы с данными обычно рекомендуется следующий план, которому мы и постараемся следовать.\n\n    Понимание проблемы и ознакомление с данными\n    Чистка данных и форматирование\n    EDA\n    Базовая модель\n    Улучшение модели\n    Интерпретация модели\n\n\nВ данном случае нужно взять поправку на то, что данные довольно обширны и сразу их можно и не осилить, \nесть смысл действовать поэтапно.\n'